################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CanberraAir.com/config
/.vs/CanberraAir.com/v16
/.vs
